*{
margin:0;
padding:0;
font-family;
list-style:none;
text-decoration:none;
}
.middle{
position:absolute;
top:24%;
left:40%;
#transform: translate(-50%,-50%);
}
.menu{
width:250px;
border-radius:10px;
overflow:hidden;
}
.item{
border-top:1px solid #2980b9;
overflow:hidden;
text-align: center;
}
.btn{
display:block;
padding:16px 20px;
background:#3498db;
color:white;
position:relative;
}
.btn:before{
content:"";
position:absolute;
width:14px;
height:14px;
background:#3498db;
left:20px;
bottom:-7px;
transform:rotate(45deg);
}
.btn i{
margin-right:10px;
font-size: 20px;
font-style: normal;
}
.smenu{
background:#333;
overflow:hidden;
transition:max-height 0.5s;
max-height:0px;
}
.s1menu{
background:#333;
overflow:hidden;
transition:max-height 0.5s;
max-height:0px;
}
.smenu a{
display:block;
padding:16px 26px;
color:white;
font-size:20px;
margin:4px 0;
position:relative;
}
.s1menu a{
display:block;
padding:16px 26px;
color:white;
font-size:20px;
margin:4px 0;
position:relative;
}
.s1menu a:before{
content:"";
position:absolute;
width:5px;
height:100%;
background:#333;
left:0;
top:0;
transition:0.5s;
opacity:0;
}
.smenu a:hover:before{
opacity:1;
}
.item:target .smenu{
max-height:20em;
}
.s1menu a:hover:before{
opacity:1;
}
.item:target .s1menu{
max-height:20em;
}
