*{/*
    margin: 0px;
    padding: 0px;
    box-sizing: border-box*/;
}
.container{
	width: 100%;
        height:300px;
	display: block;
	margin:auto;
       text-align:center;
	padding-top: 0px;
        padding-bottom:20px;
        border:1px solid black;
       box-sizing: border-box;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 17px;
  color:white;
}

img{
width:100%;
height:300px;
margin-top:0;
}

.content1{
border:1px solid black;
width:90%;
height:80%;
margin-top:6%;
margin-left:20px;
background:#ffffbf;
font-size:19px;
}

.feature{
margin-top:12%;
width:100%;
height:30%;
}
section{
display:block;
height:1300px;
background:#fdf2f0;
color:white;
}
.features-benefits .row {
    margin-right: -10px;
    margin-left: -10px;
text-align:center;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card{
position:absolute;
top:90%;
left:30%;
transform:translate(-50%,-50%);
width:300px;
height:400px;
background:red;
}

.container11{
margin-top:3%;

height:40%;
}



.lastblock{
  box-sizing: border-box;
 border:1px solid black;
width:100%;
height:200px;
background:black;
color:white;
padding:10px;
margin-top:2%;
}

.column {
	  flex: 33.33%;
	  height: 450px;
	  padding: 10px;
	  margin: 5px;
	  background-color:white;
	  text-align: center;
	}
	.container11{
	   display: flex;
	}

.track{
width:200px;
height:200px;
border-radius:50%;
}
.btn {
  border: none;
  color: white; 
  padding: 14px 28px; 
  cursor: pointer; 
}
.success {
background-color:grey;
} 
.success:hover 
{background-color: #46a049;}

.column1{
float: left;
  width: 40%;
}
li{
align-text:center;
font-size:19px;
}
