*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
    background-image:url("back.jpg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    font-family:sans-serif;
    margin:5% 25% auto;
    width:50%;
  }
.container{
  max-width: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.952);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
 // position:relative;
//  margin-bottom: -20px;
  height: 85%;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0px;
  height: 5%;
  width: 60%;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input,textarea{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input,textarea:focus,
.user-details .input-box input,textarea:valid{
  //border-color: #9b59b6;
}
.button{
    display:block;
    margin:0px 0px 0px 0px;
    text-align:center;
    outline:none;
    color:white;
    cursor:pointer;
    transition:0.25px;
    width:30%;
    position: relative;
    top:-10px;
    left:35%;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
form .button{
   height: 45px;
   margin: 35px 0 auto;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
  @media(max-width: 1300px){
  body{
    background-size: cover;
    background-position: center;
    //height: 140vh;
  }
 .container{
  font-size: 15px;
  max-width: 220%;
  margin: 10%;
  width: 160%;
  margin-left: -30%;
  margin-bottom: 20%;
  height: 95%;
} }
 @media(max-width: 800px){
  body{
    background-size: cover;
    background-position: center;
    //height: 140vh;
  }
 .container{
  font-size: 15px;
  max-width: 500%;
  width: 150%;
  margin-left: -20%;
  margin-bottom: 20%;
  height: 95%;
}
 .container .title{
  font-size: 20px;
 }
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    //width: 100%;
  }
  .content form .user-details{
    //max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 600px){
    body{
    background-size: cover;
    background-position: center;
  }
 .container{
  font-size: 15px;
  max-width: 165%;
  width: 800px;
  margin-left: -30%;
  height: 90%;
}
.button{
  width: 40%;
}
  .container .content .category{
    flex-direction: column;
  }
}
.title{
text-align:center;
text-transform:uppercase;
}