*{
	margin:0;
	padding: 0;
	//font-family: cursive;
	color: black;
}
.area{
	font-size: 135px;
	font-weight: bold;
}
.one{
	padding-left: 30%;
	padding-top: 5%;
	background:linear-gradient(180deg,#f80112 0%,#2602f5 110%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    cursor:pointer;   
}
.imgarea{
	//padding-left: 5%;
	padding-right: 5%;
	//margin-bottom: 150px;
	margin-top: 10%;
}
.img{
	width: 50%;
	height: 50%;
	margin-top: 80px;
}
img{
	width: 300px;
	height: 300px;
	//margin-left: 70%;
}
.right{
	//margin-left: 80%;
}
#parargt1{
	font-size: 16px;
   letter-spacing: 1px;
  // margin-bottom: 150px;
   margin-left: 400px;
   margin-top: -400px;
    padding: 10px;
}
#parargt2{
	font-size: 16px;
   letter-spacing: 1px;
  // margin-bottom: 150px;
   margin-left: 400px;
   margin-top: -310px;
    padding: 10px;
}
#parargt{
	font-size: 16px;
   letter-spacing: 1px;
  // margin-bottom: 150px;
   margin-left: 400px;
   margin-top: -300px;
    padding: 10px;
}
#paralft{
	font-size: 16px;
   letter-spacing: 1px;
  // margin-bottom: 150px;
   margin-right: 400px;
   margin-top: -300px;
    padding: 10px;
}