html{
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.7;
}
body{
	min-height: 100vh;
	padding: 0;
	margin: 0;
}
header{
	border-bottom: 0.5rem solid cornflowerblue;
	line-height: 1;
	//padding: 1rem 2rem;
}
h1{
	text-align: center;
	font-size: 30px;
	line-height: inherit;
}
h2{
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
}
nav{
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	//padding: 1rem 2rem;
}
nav>a{
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 0;
	background-color: lightcyan;
	padding: 0 2rem;
	color: cornflowerblue;
}
body#posts a.posts,
body#users a.users {
	color: orangered;
}
p,
li{
	font-size: 2px;
	color: #555;
}
main{
	//padding: 1rem 2rem;
}
table{
	font-size: 12px;
}
.loading-list {
	animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes pulse {
	0% {
		opacity: 0;
		color: #999;
	}

	50% {
		opacity: 0.8;
		color: #333;
	}

	100% {
		opacity: 1;
		color: cornflowerblue;
	}
}
